@import '~bootstrap-material-design/scss/bootstrap-material-design';

.home {
  margin-top: 50px;
}

.book {
  margin: 0 auto;
}

.red {
  color:red;
}

.footer{
 width: 100%;
 
 color: white;
 text-align: center;
}

.textOverflowTest1 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* Safari */
	-o-text-overflow: ellipsis; /* Opera */
}